<section id="about">
  <div class="container">
    <div class="section-title">
      <h2>About Me & My Approach</h2>
    </div>

    <div class="about-content">
      <div class="about-img">
        <img src="img/IMG_9412.jpg" alt="Picture of Vince Milosevich" />
      </div>
      <div class="about-text">
        <p>
          Vince Milosevich is a Certified Rolfer® and Licensed Massage Therapist
          formerly practicing in New York City, Santa Fe, NM, and now serving
          Narberth and the Greater Philadelphia Area. Vince's journey into
          bodywork began out of necessity. After years of battling unexplained
          chronic neck and shoulder pain, and facing surgery without a clear
          cause, he discovered Rolfing® Structural Integration as a last resort.
          It was a revelation. Not only did he become pain-free without surgery,
          but he also found his calling to help others.
        </p>
        <p>
          Today, Vince uniquely blends the whole-body approach of Certified
          Rolfing with targeted orthopedic massage techniques. He doesn't just
          focus on where it hurts; he works with your entire myofascial system
          to find and address the root cause of your pain. His treatments are
          informed by the latest pain science and are paired with practical
          self-care education, empowering you with the tools to maintain your
          results long-term. Vince's ultimate goal is to facilitate your healing
          so effectively that you graduate from needing his care, becoming his
          best referral source.
        </p>
      </div>
      <a href="#contact" class="btn btn-primary">Schedule Your Session</a>
    </div>
  </div>
</section>
