<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact Me</h2>
    </div>
    <!-- <div class="">
          <h3>Book a Free Consultation</h3>
          <p>Contact me to schedule your free 15-minute phone consultation.</p>
        </div> -->
    <div class="contact-container">
      <div class="contact-info">
        <div class="contact-item">
          <div class="contact-icon">
            <i class="fas fa-phone"></i>
          </div>
          <div>
            <h3>Phone</h3>
            <p>(215) 821-9413</p>
            <p>Text or call to schedule your free 15 minute consultation</p>
          </div>
        </div>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div>
            <h3>Email</h3>
            <p>info@vincerolfer.com</p>
            <p>Response within 24 hours</p>
          </div>
        </div>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div>
            <h3>Location</h3>
            <p>31 N Narberth Ave, Suite B<br />Narberth, PA 19072</p>
          </div>
        </div>
        <!--
            <div class="contact-item">
              <div class="contact-icon">
                <i class="fas fa-clock"></i>
              </div>
               <div>
                <h3>Hours</h3>
                <p>10am - 6pm: By appointment only</p>
              </div>
            </div> -->
        <!-- <div class="quick-book">
          <h3>Ready to Book?</h3>
          <p>
            Schedule your session instantly through our secure booking system.
          </p>
          <a
            href="https://app.squareup.com/appointments/book/fj8ulxi5o9f511/Z4R5BGY628ZSR/start"
            class="btn btn-primary"
            target="_blank"
            rel="noopener"
            style="width: 100%; text-align: center"
          >
            <i class="fas fa-calendar-check"></i> Book Online
          </a>
          <p
            style="
              font-size: 0.9rem;
              margin-top: 10px;
              color: var(--gray-color);
            "
          >
            <i class="fas fa-lock"></i> Secure • Instant • 24/7 Available
          </p>
        </div> -->
      </div>
    </div>
  </div>
</section>
