<header>
  <div class="container header-container">
    <a href="#home" class="logo"
      >Vince Milosevich<span> Rolfing and Orthopedic Massage</span></a
    >
    <!-- 
        <button class="mobile-menu-btn" id="mobileMenuBtn">
          <i class="fas fa-bars"></i>
        </button> -->

    <nav id="mainNav">
      <ul>
        <li><a href="/">Home</a></li>
        |
        <li><a href="/rolfing.html">Rolfing®</a></li>
        |
        <li><a href="/orthopedic-massage.html">Orthopedic Massage</a></li>
        |
        <li><a href="/#about">About</a></li>
        |
        <li><a href="/#testimonials">Testimonials</a></li>
        |
        <li><a href="/#pricing">Pricing</a></li>
        |
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
